{#
    WARNING: This template overrides base block.html.twig template from Netgen Layouts

    When upgrading to new versions of Netgen Layouts, check for any modifications to this
    template and apply them here.
#}

{% set css_id = css_id|default(block.parameter('css_id').value) %}
{% set set_container = block.parameter('set_container').value %}
{% set container_size = block.parameter('set_container:size').value %}

{% set use_whitespace = block.parameter('vertical_whitespace:enabled').value is same as(true) %}
{% set whitespace_position = block.parameter('vertical_whitespace:position').value %}
{% set whitespace_size = block.parameter('vertical_whitespace:size').value %}

{% set bg_image = block.dynamicParameter('background_image:image_content') %}
{% set use_bg_image = block.hasParameter('background_image:enabled') and block.parameter('background_image:enabled').value is same as(true) %}
{% set use_bg_image = use_bg_image and bg_image is not null and bg_image.fields.image is defined %}

{% set bg_color = block.hasParameter('background_color:color') ? block.parameter('background_color:color').value : null %}
{% set use_bg_color = block.hasParameter('background_color:enabled') and block.parameter('background_color:enabled').value is same as(true) %}
{% set use_bg_color = use_bg_color and bg_color is not empty %}

{% set css_classes = ['ngl-block', 'ngl-' ~ block.definition.identifier, 'ngl-vt-' ~ block.viewType, css_class|default(block.parameter('css_class').value)] %}

{% if use_whitespace and whitespace_position is not null and whitespace_size is not null %}
    {% set css_classes = css_classes|merge(['whitespace-' ~ whitespace_position, 'whitespace-' ~ whitespace_size]) %}
{% endif %}

{% if use_bg_image %}
    {% set css_classes = css_classes|merge(['with-bg-image']) %}
{% endif %}

{% if use_bg_color %}
    {% set css_classes = css_classes|merge(['bg-color-' ~ bg_color]) %}
{% endif %}

{% if show_empty_wrapper is not defined %}
    {% set show_empty_wrapper = false %}
{% endif %}

{% set block_content = (block('content') is defined ? block('content') : '')|trim %}

{% if block_content is not empty or show_empty_wrapper %}
    <div
        class="{{ css_classes|join(' ') }}"
        {% if css_id is not empty %}id="{{ css_id }}"{% endif %}
        {% if use_bg_image %}
            {% set image_alias = ng_image_alias(bg_image.fields.image, 'i1920') %}
            {% if image_alias %}style="background-image:url('{{ asset(image_alias.uri) }}')"{% endif %}
        {% endif %}
    >
        {% if set_container %}<div class="container{% if container_size is not empty %} container-{{ container_size }}{% endif %}">{% endif %}

        {{ block_content|raw }}

        {% if set_container %}</div>{% endif %}
    </div>
{% endif %}
