{% extends nglayouts.layoutTemplate %}

{% import '@ezdesign/parts/content_fields.html.twig' as content_fields %}

{% set show_path = false %}

{% if not content.fields.teaser_intro.empty %}
    {% set meta_data = {'description': content.fields.teaser_intro.value.xml.saveXML()|striptags|trim|truncate(152)} %}
{% elseif not content.fields.full_intro.empty %}
    {% set meta_data = {'description': content.fields.full_intro.value.xml.saveXML()|striptags|trim|truncate(152)} %}
{% endif %}

{% block content %}
    <article class="view-type view-type-{{ view_type }} ng-blog-post vf1">
        {% block article_header %}
            <header class="full-page-header full-article-header">
                <div class="container">
                    {% if not content.fields.sponsored_content_disclosure.empty %}
                        <div class="full-page-sponsored-tag">
                            <span>{{ content.fields.sponsored_content_disclosure.value.text }}</span>
                        </div>
                    {% elseif not content.fields.main_topic.empty %}
                        <div class="full-page-main-tag">
                            <a href="{{ ngsite_topic_path(content.fields.main_topic.value.tags[0]) }}">{{ content.fields.main_topic.value.tags[0].keyword }}</a>
                        </div>
                    {% endif %}
                    <h1 class="full-page-title">{{ ng_render_field(content.fields.title) }}</h1>
                    <div class="full-page-info">
                        {% if not content.fields.authors.empty %}
                            By
                            {% for author in content.fieldRelations('authors') %}
                                <a href="{{ path(author) }}" class="article-author">{{ author.name }}</a>
                            {% endfor %} –
                        {% endif %}
                        {% if content.contentInfo.publishedDate %}
                            <time>{{ content.contentInfo.publishedDate.date|date('F jS, Y') }}</time>
                        {% endif %}
                    </div>
                </div>
            </header>
        {% endblock %}

        <div class="container">
            {% block image %}
                {% if not content.fields.image.empty %}
                    <div class="full-article-image">
                        {{ render(
                            controller(
                                'ngsite.controller.parts:viewRelatedMultimediaItems', {
                                    'locationId': location.id,
                                    'includeChildren': true,
                                    'contentTypeIdentifiers': ['image', 'ng_video'],
                                    'template': '@ezdesign/parts/related_multimedia.html.twig'
                                }
                            )
                        ) }}
                    </div>
                {% endif %}
            {% endblock %}

            <div class="full-article-content">

                {% block body %}
                    <div class="full-article-body">
                        {% if not content.fields.full_intro.empty %}
                            <div class="article-intro">
                                {{ ng_render_field(content.fields.full_intro) }}
                            </div>
                        {% endif %}

                        {% if not content.fields.body.empty %}
                            {{ ng_render_field(content.fields.body) }}
                        {% endif %}

                        {% if not content.fields.tags.empty %}
                            <div class="full-article-tags">
                                {% for tag in content.fields.tags.value.tags %}
                                    <a href="{{ path(tag) }}">{{ tag.keyword }}</a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endblock %}

            </div>
        </div>
    </article>
{% endblock %}

{% block structuredData %}
    {# structured data #}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Blog",
            "headline": "{{ content.fields.title.value.text }}",
            {% if content.contentInfo.publishedDate %}
                "datePublished": "{{ content.contentInfo.publishedDate.date|date('Y-m-d') }}",
            {% endif %}
            {% if not content.fields.authors.empty %}
                "author": {
                    "@type": "Person",
                    "name": "{% for author in content.fieldRelations('authors') %}{% if loop.index0 > 0 %} ,{% endif %}{{ author.name }}{% endfor %}"
                },
            {% endif %}
            {% if not content.fields.image.empty %}
                "image": "{{ absolute_url(ng_image_alias(content.fields.image, 'i1200').uri) }}",
            {% endif %}
            "publisher": {
                "type": "Organization",
                "name": "{{ site_name }}"
            }
        }
    </script>
{% endblock %}
