{% extends nglayouts.layoutTemplate %}

{% if not content.fields.teaser_intro.empty %}
    {% set meta_data = {'description': content.fields.teaser_intro.value.xml.saveXML()|striptags|trim|truncate(152)} %}
{% elseif not content.fields.full_intro.empty %}
    {% set meta_data = {'description': content.fields.full_intro.value.xml.saveXML()|striptags|trim|truncate(152)} %}
{% endif %}

{% block pre_content %}
    <header class="full-page-header">
        <div class="container">
            <h1 class="full-page-title">{{ ng_render_field(content.fields.title) }}</h1>
            {% if not content.fields.full_intro.empty %}
                <div class="full-page-intro">
                    {{ ng_render_field(content.fields.full_intro) }}
                </div>
            {% endif %}
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="view-type view-type-{{ view_type }} ng-category vf2">
        {% if not content.fields.body.empty %}
            <div class="category-body">
                {{ ng_render_field(content.fields.body) }}
            </div>
        {% endif %}

        <div class="category-featured-content">
            {{ render(
                controller(
                    'ngsite.controller.parts:viewRelatedItems', {
                        'contentId': content.id,
                        'fieldDefinitionIdentifier': 'featured_content',
                        'template': '@ezdesign/parts/related_items.html.twig'
                    }
                )
            ) }}
        </div>

        {% if content.fields.show_children.value.bool %}
            <div class="category-children">
                {% if pager|length > 0 %}
                    {% set children_view_type = content.fields.view_type.value.identifiers[0]|default('standard') %}
                    {% set columns = content.fields.grid_columns.value.identifiers[0]|default('3') %}
                    {% set column_css_class = {
                        '1': 'col-12',
                        '2': 'col-sm-6',
                        '3': 'col-md-4 col-sm-6',
                        '4': 'col-lg-3 col-md-4 col-sm-6'
                    } %}

                    {% if children_view_type == 'listitem' %}
                        <ul class="listitem-list">
                            {% for pager_item in pager %}
                                <li>
                                    {% include '@ezdesign/parts/ng_view_content.html.twig' with {
                                        content: pager_item.content,
                                        location: pager_item,
                                        view_type: children_view_type
                                    } only %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="row">
                            {% for pager_item in pager %}
                                <div class="{{ column_css_class[columns] }}">
                                    {% include '@ezdesign/parts/ng_view_content.html.twig' with {
                                        content: pager_item.content,
                                        location: pager_item,
                                        view_type: children_view_type
                                    } only %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}
            </div>

            {% if pager.haveToPaginate() %}
                {{ pagerfanta(pager, 'ngsite') }}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
