{% extends nglayouts.layoutTemplate %}

{% if not content.fields.teaser_intro.empty %}
    {% set meta_data = {'description': content.fields.teaser_intro.value.xml.saveXML()|striptags|trim|truncate(152)} %}
{% elseif not content.fields.description.empty %}
    {% set meta_data = {'description': content.fields.description.value.xml.saveXML()|striptags|trim|truncate(152)} %}
{% endif %}

{% block pre_content %}
    <header class="full-page-header full-gallery-header">
        <div class="container">
            {% if not content.fields.sponsored_content_disclosure.empty %}
                <div class="full-page-sponsored-tag">
                    <span>{{ content.fields.sponsored_content_disclosure.value.text }}</span>
                </div>
            {% elseif not content.fields.main_topic.empty %}
                <div class="full-page-main-tag">
                    <a href="{{ ngsite_topic_path(content.fields.main_topic.value.tags[0]) }}">{{ content.fields.main_topic.value.tags[0].keyword }}</a>
                </div>
            {% endif %}
            <h1 class="full-page-title">{{ ng_render_field(content.fields.title) }}</h1>
            {% if content.contentInfo.publishedDate %}
                <p class="full-page-info">
                    <time>{{ content.contentInfo.publishedDate.date|date('F jS, Y') }}</time>
                </p>
            {% endif %}
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="view-type view-type-{{ view_type }} ng-gallery">
        {{ render(
            controller(
                'ngsite.controller.parts:viewRelatedMultimediaItems', {
                    'locationId': location.id,
                    'includeChildren': true,
                    'contentTypeIdentifiers': ['image', 'ng_video'],
                    'template': '@ezdesign/parts/related_multimedia.html.twig'
                }
            )
        ) }}

        <div class="full-article-body">
            {% if not content.fields.teaser_intro.empty %}
                <div class="article-intro">
                    {{ ng_render_field(content.fields.teaser_intro) }}
                </div>
            {% endif %}

            {% if not content.fields.description.empty %}
                {{ ng_render_field(content.fields.description) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
